<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 配置命名空间，区别名称 -->
<mapper namespace="com.bzchao.mystore.dao.OrderDao">

    <sql id="allCols">
             oid,uid,name,total_price,state,address,telephone,order_time
    </sql>

    <sql id="allColsWidthItem">
             orders.oid oid,uid,name,total_price,state,address,telephone,order_time,
             item_id,order_item.oid oitem_oid,pid,count,sub_price
    </sql>

    <resultMap id="orderMap" type="Order">
        <result property="totalPrice" column="total_price"></result>
        <result property="orderTime" column="order_time"></result>
        <collection property="orderItemList" ofType="OrderItem">
            <id property="itemId" column="item_id"></id>
            <result property="oid" column="oid"></result>
            <result property="pid" column="pid"></result>
            <result property="count" column="count"></result>
            <result property="subPrice" column="sub_price"></result>
        </collection>
    </resultMap>

    <insert id="insert" parameterType="Order">
        insert into orders
        (<include refid="allCols"/>)
        values(#{oid},#{uid},#{name},#{totalPrice},#{state},#{address},#{telephone},#{orderTime})
    </insert>

    <select id="findByOidWithItem" parameterType="String" resultMap="orderMap">
        select
        <include refid="allColsWidthItem"/>
        from orders
        left join order_item
        on orders.oid = order_item.oid
        where orders.oid = #{oid}
    </select>

</mapper>