<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 配置命名空间，区别名称 -->
<mapper namespace="com.bzchao.mystore.dao.OrderItemDao">

    <sql id="allCols">
           item_id,oid,pid,count,sub_price
    </sql>
    <sql id="allColsWidthProduct">
         item_id,oid,order_item.pid pid,count,sub_price,
         product.pid product_pid,pname,
    </sql>
    <resultMap id="orderItemMapWithProduct" type="OrderItem">
        <id property="itemId" column="item_id"></id>
        <!--pid需要明确映射-->
        <result property="pid" column="pid"></result>
        <result property="subPrice" column="sub_price"></result>
        <association property="product" select="com.bzchao.mystore.dao.ProductDao.findByPid" column="pid"></association>
    </resultMap>

    <select id="findByItemIdWithProduct" parameterType="String" resultMap="orderItemMapWithProduct">
        select
        <include refid="allCols"/>
        from order_item
        where item_id = #{itemId}
    </select>

    <insert id="insert" parameterType="OrderItem">
       insert  into order_item (item_id,oid,pid,count,sub_price)
      values (#{itemId},#{oid},#{pid},#{count},#{subPrice})
    </insert>

</mapper>